@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    #logo a img {
         width: 111px;
        height: 34px;
    }
    #footer .footer-logo img {
        content: url("../img/logo-inverse%402x.png");
        width: 119px;
        height: 40px;
    }
    .testimonials h3::before {
        background-image: url('../img/quote-left%402x.png');
        background-size: 45px 38px;
    }
    .testimonials h3::after {
        background-image: url('../img/quote-right%402x.png');
        background-size: 45px 38px;
    }
    .partners .owl-prev img {
        content: url("../img/partner-prev%402x.png");
        width: 18px;
        height: 7px;
    }
    .partners .owl-next img {
        content: url("../img/partner-next%402x.png");
        width: 18px;
        height: 7px;
    }
    .team-2 .owl-prev {
        background-image: url('../img/arrow-left-gray%402x.png');
        background-size: 28px 8px;
    }
    .team-2 .owl-prev:hover {
        background-image: url('../img/arrow-left-white%402x.png');
        background-size: 28px 8px;
    }
    .team-2 .owl-next {
        background-image: url('../img/arrow-right-gray%402x.png');
        background-size: 26px 8px;
    }
    .team-2 .owl-next:hover {
        background-image: url('../img/arrow-right-white%402x.png');
        background-size: 26px 8px;
    }
    .call-to-action .contact-us img {
        content: url("../img/cta-contact%402x.png");
        width: 32px;
        height: 30px;
    }
}