.tp-bullets.simplebullets.speedup {
    padding-bottom: 50px;
}

.tp-bullets.simplebullets.speedup .bullet {
    display: inline-block;
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    background: #red;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tp-bullets.simplebullets.speedup .bullet.selected {
    background: #fff;
}

.tp-banner-container .tparrows.speedup {
    width: 80px;
    height: 80px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.1);
}

.tp-banner-container .tparrows.speedup:hover {
    background: rgba(0, 0, 0, 0.3);
}

.tp-banner-container .tparrows.speedup.tp-leftarrow:after {
    content: '\f104';
    font: normal normal normal 30px/1 FontAwesome;
    color: white;
    position: relative;
    top: 25px;
    left: 35px;
}

.tp-banner-container .tparrows.speedup.tp-rightarrow:after {
    content: '\f105';
    font: normal normal normal 30px/1 FontAwesome;
    color: white;
    position: relative;
    top: 25px;
    left: 35px;
}